<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table border="1"
           th:if="${cars}!=null ">
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Age</th>
        </tr>
        <tr data-th-each="msg : ${cars}">
            <td th:text="${msg.carModel}"></td>
            <td th:text="${msg.carColor}"></td>
            <td th:text="${msg.carRun}"></td>
        </tr>
    </table>
    <h3 th:text="${cars}==null ? 'Enter car request more than 0 to fill table'"></h3>
</div>
</body>
</html>